$sprite-url: url(./doge-with-it-sprite.png);
$duration: 4s;

.galaxy-wow {
    display: inline-block;
    background-image: $sprite-url;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    width: 128px;
    height: 128px;
    vertical-align: middle;
    overflow: visible;
    box-sizing: content-box;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 0 0 2px 1px grey;

    .such-doge {
        background-image: $sprite-url;
        background-position: -5px -128px;
        background-repeat: no-repeat;
        display: block;
        width: 109px;
        height: 133px;
        position: absolute;
        left: 5px;
        bottom: 0px;
        
        .much-glasses {
            background-image: $sprite-url;
            background-position: -20px -264px;
            background-repeat: no-repeat;
            display: block;
            width: 98px;
            height: 16px;
            position: absolute;
            top: 37px;
            left: 15px;
            animation: muchGlasses $duration;
            -webkit-animation: muchGlasses $duration;
        }
    }

    .doge-with-it {
        width: 100%;
        position: absolute;
        bottom: 5px;
        color: white;
        font-family: monospace;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px  1px 0 black,
                    -1px -1px 0 black,
                     1px -1px 0 black,
                    -1px  1px 0 black;
        animation: dogeWithIt 0.5s;
        animation-delay: $duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation: dogeWithIt 0.5s;
        -webkit-animation-delay: $duration;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
}

@-webkit-keyframes muchGlasses {
    from {top: -258px;}
    to {top: 37px;}
}

@keyframes muchGlasses {
    from {top: -258px;}
    to {top: 37px;}
}

@keyframes dogeWithIt {
    0% {color: red;}
    20% {color: lime;}
    40% {color: blue;}
    60% {color: yellow;}
    80% {color: fuchsia;}
    100% {color: aqua;}
}

@-webkit-keyframes dogeWithIt {
    0% {color: red;}
    20% {color: lime;}
    40% {color: blue;}
    60% {color: yellow;}
    80% {color: fuchsia;}
    100% {color: aqua;}
}
